{#
SPDX-FileCopyrightText: 2024 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}{{ title }} - F-Droid Monitor{% end %}

{% block content %}

<h2>{{ title }}</h2>

<p>
  
</p>

{% for domain, cert in tlsCerts.items() %}
  <h4 id="{{ domain }}">{{ domain }}</h4>
  {% if any(cert['asserts'].values()) %}
    <ul>
    {% if cert['asserts']['too_many_certs'] %}
      <li>⚠️  this domain has {{ len(cert['asserts']['too_many_certs']) }} active certificates, but {{ tlsExpected[domain]['max_certs'] }} were expected</li>
    {% end %}
    {% for unknown_subdomain in cert['asserts']['unknown_subdomains'] %}
      <li>⚠️  unknown subomain found: {{ unknown_subdomain }}</li>
    {% end %}
    {% for unexpected_cas in cert['asserts']['unexpected_cas'] %}
      <li>⚠️  found a certificate issued by an unexpected CA: {{ unexpected_cas }}</li>
    {% end %}
    </ul>
  {% end %}
  <ul>
  {% for c in cert['certs'] %}
    <li>{{ c['cert_sha256'] }} - {{ c['not_after'] }} - {{ c['issuer']['friendly_name'] }}</li>
  {% end %}
  </ul>
  {# debug help:
  <code><pre>
{{ format_json(cert) }}
  </pre></code>
  #}
{% end %}

{% end %}
