<!--
SPDX-FileCopyrightText: 2023 Hans-Christoph Steiner <hans@eds.org>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block title %}website - F-Droid Monitor{% end %}

{% block content %}

<h2>Website Status</h2>

<div class="commandLine">
  <h3>command line</h3>
  <code>
    {{ " ".join(data["commandLine"]) }}</code>
  </code>
</div>

<div class="started">
  <h3>start time</h3>
  <p>{{ startTime }}</p>
</div>

{% if endTime %}
<div class="stopped">
  <h3>end time</h3>
  <p>{{ endTime }}</p>
</div>
{% end %}

{% if "fdroid-website" in data %}
<div class="fdroid-website">
  <h3>fdroid-website version</h3>
  <a href="https://gitlab.com/fdroid/fdroid-website/-/commits/{{data["fdroid-website"]["commitId"]}}">fdroid-website@{{ data["fdroid-website"]["commitId"][:8] }}</a>
</div>
{% end %}

<div class="started">
  <h3>base OS</h3>
  <p>{{ data["/etc/issue.net"] }}</p>
</div>

<div class="started">
  <h3>CPU core count</h3>
  <p>{{ data["hostOsCpuCount"] }}</p>
</div>

<div class="started">
  <h3>RAM</h3>
  <p>{{ data["hostProcMeminfoMemTotal"] }}</p>
</div>

{% end %}
